.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 35rem;
    margin: 0 auto;
}


.boton {
    margin: 3px;
    padding: 10px;
    width: 5rem;
    height: 3rem;
    font-weight: bold;
    cursor: pointer;
  }

.random-button {
    display: block;
    margin: 2px auto;
}

.last-number, #click-message{
    text-align: center;
}

.shaking {
    animation: shake 0.5s infinite;
  }
  
  @keyframes shake {
    0% {
      transform: translateY(0);
    }
    25% {
      transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
    }
    75% {
      transform: translateY(-5px);
    }
    100% {
      transform: translateY(0);
    }
  }